{{!< default}}
<article class="{{post_class}}">
  <header class="gh-content gh-canvas">
    <h1>{{title}}</h1>
  </header>
  <section class="gh-content gh-canvas">
    {{content}}
  </section>
</article>
